.custom-ripple-contained {
	color: rgba(255, 255, 255, 0.546);
}
.custom-ripple-contained-back {
	color: rgba(135, 132, 132, 0.546);
}
.custom-riple-outlined {
	color: rgba(205, 128, 228, 0.686);
}

ion-spinner {
	--color: #3a3c45b1;
}
